NODE_ENV="development"
PORT="5001"

# MongoDB (для старого backend)
MONGO_URI="mongodb://mongo:27017/transcendence"
MONGO_INITDB_ROOT_USERNAME="root"
MONGO_INITDB_ROOT_PASSWORD="example"
JWT_SK="change-me"
MONGO_USER="root"
MONGO_PASS="example"

# PostgreSQL (для game-backend)
DB_HOST="postgres"
DB_PORT="5432"
DB_NAME="42trc_game"
DB_USER="postgres"
DB_PASSWORD="postgres"
JWT_SECRET="your-secret-key-change-in-production"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=42trc_game
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/42trc_game

FRONTEND_URL="http://localhost:5173/login"
ALLOWED_SCHOOL_EMAIL_DOMAINS="42.fr,student.42.fr,student.42heilbronn.de"
OAUTH_42_CLIENT_ID="*-******-****************************************************************"
OAUTH_42_CLIENT_SECRET="*-******-****************************************************************"
OAUTH_42_REDIRECT_URI="http://localhost:5173/login"
OAUTH_42_SCOPE="public"
